# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Pavel\Dropbox\My PC (DESKTOP-9TIJE1H)\Documents\GitHub\SeleniumSamsungProjectPresentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
